@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao LudoLoca!</h1>

    <h2>A primeira plataforma de aluguel de jogos do Brasil!</h2>

    <p>🛠️ Estamos em fase de desenvolvimento. Todas as sugestões e feedbacks são bem-vindos!</p>
    <br>
    
    <h2>Aqui você encontra:</h2>
    <p>🧩 Jogos disponíveis para alugar</p>
    <p>🧩 Listagem com todos os jogos cadastrados em nosso sistema</p>
    <p>🧩 A opção de colocar um jogo seu para ser alugado</p>
    <br>

    <h2>Em breve:</h2>
    <p>🧩 Busca refinada por jogos: gênero, faixa etária, quantidade de jogadores, cidade em que há pessoas alugando</p>
    <p>🧩 Chat integrado ao nosso sistema, para conversar com quem está alugando</p>
    <p>🧩 Link para conversar por WhatsApp com outros usuários da LudoLoca</p>

</div>
