@model IEnumerable<Client.Models.GenreViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Gêneros</h1>
@if (ViewBag.IsAdmin)
{
    <p>
        <a asp-action="Create">Adicionar Gênero</a>
    </p>
}
else
{
    <p>Confira os gêneros cadastrados no nosso sistema!</p>
    <p>Em breve você poderá clicar no gênero e ver o jogos disponíveis.😉</p>
}
<table class="table">
    <thead>
        <tr>
            @if (ViewBag.IsAdmin)
            {
                <th>
                    Identificação
                </th>           
            }
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (ViewBag.IsAdmin)
            {         
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (ViewBag.IsAdmin)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        <br>
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                    }
            </td>
        </tr>
}
    </tbody>
</table>
