@model IEnumerable<Client.Models.GenreViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Gêneros</h1>

<p>
    <a asp-action="Create">Adicionar Gênero</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Identificação
            </th>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
